<div
    class="sidebar-area bg-white transition sidebar-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo-icon.png" alt="logo-icon" width="33px">
            <span>
               {{loginName}}
            </span>
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body">
                        MAIN
                    </span>
                    <a routerLink="/teachers" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="users"></i-feather>
                        <span class="title">
                            Teachers
                        </span>
                    </a>
                    <a routerLink="/classrooms" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="home"></i-feather>
                        <span class="title">
                            Classrooms
                        </span>
                    </a>
                    <a class="sidebar-menu-link" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>

                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>